@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;

}

a {
  list-style-type: none;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.tool_bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 14px 24px;
  align-items: center;
}

.desk_nav {
  display: none;
}

.Logo {
  width: 150px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.headline-sec {
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  padding-top: 180px;
  background-position-y: 100px;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

.greetings {
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.text2 {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect,
.connect2 {
  width: 130px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.media-icon,
.media-icon2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: -20px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
}

.work-section {
  margin-top: 130px;
}

.cards_container {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  position: absolute;
  width: 375px;
  height: 2700px;
  left: 0;
  top: 718px;
}

.card_work,
.card_work2 {
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 1%;

}

.card_work {
  height: 700px;
}

.card_work2 {
  height: 750px;

}

.snapshot {
  /* margin: 16px 16px; */
  width: 295px;
  height: 220px;
  padding-bottom: 0;
}

.left_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
  margin-top: -30px;
}

.tonic-text {
  width: 295px;
  height: 806px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 30px;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.count {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
}

.role {
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.daily_text {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4px 12px;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.html_but {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.html_but:enabled {
  background: #fff;
  color: #6070ff;
}

.html_but:hover {
  background: #6070ff;
  color: #fff;
}

.html_but:active {
  background: #2230d2;
  color: #fff;
}

.html_but:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.html_text {
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.css_but {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.css_but:enabled {
  background: #fff;
  color: #6070ff;
}

.css_but:hover {
  background: #6070ff;
  color: #fff;
}

.css_but:active {
  background: #2230d2;
  color: #fff;
}

.css_but:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.css_text {
  width: 21px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.java_but {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.java_but:enabled {
  background: #fff;
  color: #6070ff;
}

.java_but:hover {
  background: #6070ff;
  color: #fff;
}

.java_but:active {
  background: #2230d2;
  color: #fff;
}

.java_but:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.java_text {
  width: 65px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.but_container {
  padding-bottom: 100px;
  width: 295px;
  height: 72px;
}

.Action_but {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 48px;
  left: 0;
  border: 2px solid #6070ff;
  border-radius: 8px;
  margin-top: 5px;
}

.Action_but:enabled {
  background: #fff;
  color: #6070ff;
}

.Action_but:hover {
  background: #6070ff;
  color: #fff;
}

.Action_but:active {
  background: #2230d2;
  color: #fff;
}

.Action_but:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.text_project {
  width: 100px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.About_section {
  position: absolute;
  width: 375px;
  height: 1263px;
  left: 40px;
  top: 4500px;
}

.About_text {
  width: 327px;
  height: 101px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.software_text {
  width: 327px;
  height: 144px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

.resume_but {
  padding-bottom: 100px;
  width: 295px;
  height: 72px;
}

.resume_but:enabled {
  background: #fff;
  color: #6070ff;
}

.resume_but:hover {
  background: #6070ff;
  color: #fff;
}

.resume_but:active {
  background: #2230d2;
  color: #fff;
}

.resume_but:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.Action_but2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
  width: 140px;
  height: 50px;
  left: 0;
  border: 2px solid #6070ff;
  border-radius: 8px;
  margin-top: -10px;
}

.Action_but2:enabled {
  background: #fff;
  color: #6070ff;
}

.Action_but2:hover {
  background: #6070ff;
  color: #fff;
}

.Action_but2:active {
  background: #2230d2;
  color: #fff;
}

.Action_but2:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.lang_container {
  white-space: nowrap;
  margin-top: 15px;
}

.lang {
  display: inline-block;
}

.union3 {
  display: inline-block;
  margin-left: 40%;
}

.skills {
  display: inline-block;
  margin-left: 58%;
}

.java_board {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.java_img {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 12px;
  margin-top: 9px;
}

.script_text {
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
  margin-left: 76px;
}

.frame_work {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.Union_arrow {
  position: absolute;
  border: 2px solid #acb7c3;
}

.saperator {
  position: absolute;
  height: 2px;
  width: 327px;
  background: #dfe1e6;
}

.contact_section {
  background-image: url("images/image_back.png");
  background-repeat: no-repeat;
  background-size: cover;

  /* background-position: center; */
  position: absolute;
  width: 375px;
  height: 779px;
  left: 0;
  top: 5410px;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 338px;
  border-top-left-radius: 100px;
}

.contact-head {
  margin-top: 102px;
  margin-left: 20%;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact_text {
  position: absolute;
  width: 327px;
  height: 102px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 171px;
  margin-left: 24px;
}

form {
  margin-top: 500px;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  border: none;
  height: 70px;
  width: 327px;
  border-radius: 8px;
  text-decoration: none;
}

form input {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  outline: none;
}

.input_name {
  width: 327px;
  height: 48px;

  /* background: #FFFFFF; */
  color: #172b4d;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.input_mail {
  width: 327px;
  height: 48px;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

::placeholder {
  color: #172b4d;
  font-size: 17px;
  padding: 15px 16px;
}

textarea::placeholder {
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.message_box {
  width: 327px;
  height: 170px;
  margin-top: 18px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.touch_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  margin-top: 22px;
  width: 142px;
  height: 48px;

  /* background: #fff;
  color: #6070ff; */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 8px;
}

.touch_btn:enabled {
  background: #fff;
  color: #6070ff;
}

.touch_btn:hover {
  background: #6070ff;
  color: #fff;
}

.touch_btn:active {
  background: #2230d2;
  color: #fff;
}

.touch_btn:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.touch_text {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #dfe1e6;
}

.shape_img {
  position: absolute;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
}

.newJavaDiv {
  display: none;
}


@media (min-width: 768px) {

  * {
    box-sizing: border-box;
  }

  body {
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
    background-color: #dfe1e6;
    /* overflow-x: hidden; */
    /* margin: 0 auto;
    height: auto; */

  }

  a {
    list-style-type: none;
    text-decoration: none;
  }

  li {
    list-style-type: none;
    text-decoration: none;
  }

  .tool_bar {
    justify-content: space-around;

  }

  .desk_nav {
    display: block;
    display: flex;
    gap: 25px;


  }

  .union {
    display: none;
  }

  .headline-sec {
    background-image: url("images/desktop_background.png");
    background-repeat: no-repeat;
    border-bottom-left-radius: 60px;
    background-size: 100%;
    width: 100%;
  }

  .greetings {
    margin-top: 140px;
    margin-left: 22.4rem;
    width: 920px;
    height: 122px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091E42;
  }

  .text2 {
    margin-left: 22.4rem;
    width: 920px;
    height: 98px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .connect {
    margin-left: 22.4rem;
    width: 130px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .media-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 10rem;
  }

  button {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: white;
  }

  .work-section {
    margin-top: 160px;
  }

  .cards_container {
    margin-top: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30.4rem;
    position: absolute;
    background: #E5E5E5;
  }

  .card_work,
  .card_work2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 12px;
    width: 72.25rem;
    border-radius: 16px;
    margin-left: 4%;
    margin-left: 22.4rem;
  }

  .card_work {
    height: 32rem;

  }

  .card_work2 {
    height: 33rem;
    flex-direction: row-reverse;

  }

  .snapshot {
    /* margin: 16px 16px; */
    width: 544px;
    height: 448px;
    padding-bottom: 0;
  }

  .left_block {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 18px;
    width: 295px;
    height: 288px;
    margin: auto;
    margin-top: -30px;

  }

  .tonic-text {
    width: 32rem;
    height: 2.87rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #172b4d;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px
  }

  .frame-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 236px;
    height: 32px;
  }

  .canopy {
    width: 75px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .count {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
  }

  .role {
    width: 95px;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .year {
    width: 29px;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .daily_text {
    width: 850px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .tags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4px 12px;
    gap: 8px;
    width: 203px;
    height: 24px;
  }

  .html_but {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 53px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .html_but:enabled {
    background: #fff;
    color: #6070ff;
  }

  .html_but:hover {
    background: #6070ff;
    color: #fff;
  }

  .html_but:active {
    background: #2230d2;
    color: #fff;
  }

  .html_but:disabled {
    background: #e5e5e5;
    color: #5e6c84;
  }

  .html_text {
    width: 29px;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .css_but {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 45px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .css_but:enabled {
    background: #fff;
    color: #6070ff;
  }

  .css_but:hover {
    background: #6070ff;
    color: #fff;
  }

  .css_but:active {
    background: #2230d2;
    color: #fff;
  }

  .css_but:disabled {
    background: #e5e5e5;
    color: #5e6c84;
  }

  .css_text {
    width: 21px;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .java_but {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 89px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .java_but:enabled {
    background: #fff;
    color: #6070ff;
  }

  .java_but:hover {
    background: #6070ff;
    color: #fff;
  }

  .java_but:active {
    background: #2230d2;
    color: #fff;
  }

  .java_but:disabled {
    background: #e5e5e5;
    color: #5e6c84;
  }

  .java_text {
    width: 65px;
    height: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .but_container {
    padding-bottom: 100px;
    width: 295px;
    height: 72px;
  }

  .Action_but2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 24px;
    gap: 10px;
    width: 450px;
    height: 48px;
    left: 0;
    border: 2px solid #6070ff;
    border-radius: 8px;
    margin-top: 5px;
  }

  .text_project {
    width: 100px;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .About_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #ffff;
    margin-top: -80px !important;



  }

  .About_1,
  .About_2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 45%;
    padding: 0;

  }

  .About_1 {
    margin-left: 100px;
  }

  .aboutmyselfButton {
    width: 100%;
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
  }

  .connect2 {
    margin: 0 !important;
  }

  .media-icon2 {
    padding: 1rem 0 1rem 0 !important;
    margin: 0 !important;
    display: flex;
    gap: 2rem;
  }

  .resume_but {
    display: flex;
    flex-wrap: wrap;
  }

  .resume_but .text_project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem 1rem 0.5rem !important;
    margin: 1rem 0 1rem 0 !important;
    width: 8rem;
  }


  .software_text {
    width: 447px;
    height: 102px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }


  .resume_but:hover {
    background: #fff;
    color: #6070ff;
  }

  .java_board {
    display: none;
  }

  .java_boardNew {
    display: flex;
    width: 35%;

  }

  .java_boardNew li {
    position: relative;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column !important;
    margin-top: 45px;
  }

  .script_text {
    margin-top: 5rem;
    margin-right: 4rem;

  }

  .java_img {
    left: 5rem;
  }

  .newJavaDiv {
    display: block;
    width: 100%;
  }

  .lang {
    margin-top: 50px;
  }

  .union3 {
    margin-left: 500px;
    margin-top: 50px;
  }

  .skills {
    /* position: absolute; */
    margin-left: 565px;
    margin-bottom: 50px;
  }

  .saperator {
    margin-top: 425px;
    height: 2px;
    width: 720px;
    background: #dfe1e6;
  }

  .contact_section {
    background-image: url("images/contact\ form-\ background-shape-desktop\ \(1\).png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
   ;

  }

  .contact-head {
    margin-bottom: 50px;
  }

  .break {
    display: none;
  }

}