@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  list-style-type: none;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.desk_nav {
  display: none;
}

header {
  width: 375px;
  height: 48px;
}

.tool_bar {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 50px;
  padding: 14px 24px;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 0;
}

.mobile-lists {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(85, 101, 243, 0.7);
  background-color: rgba(41, 58, 208, 0.8);
  backdrop-filter: blur(5px);
  transition: all 0.3s linear;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  padding: 20px;
  width: 80%;
  font-size: 2rem;
}

.mobile-list a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.close-icon {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.logo-text {
  width: 150px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0 0 12px;
}

.union-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  right: 24px;
  border-radius: 8px;
  border: none;
  background: #fff;
  margin: 8px 0 0 8px;
}

.headline-sec {
  background-image: url("header-shapes\ mobile.png");
  background-repeat: no-repeat;
  width: 375px;
  height: 718px;
  padding-top: 180px;
  background-position: center;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 60%;
}

h1 {
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: -11px 0 0 24px;
}

.text2 {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0 0 24px;
}

.connect-link,
.connect-link2 {
  display: flex;
  width: 130px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 12px 0 0 24px;
}

.connect-link2 {
  margin-top: 50px;
}

.media-icon {
  width: 170.17px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 12px 0 0 -24px;
}

.works-sec {
  width: 375px;
  margin-top: 130px;
}

.card_work,
.card_work2 {
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 88px;
  margin-left: 24px;
}

.card_work {
  height: 670px;
}

.card_work2 {
  height: 694px;
}

.snapshot {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.left_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
}

.tonic-text {
  width: 295px;
  height: 806px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 30px;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.count {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
}

.role {
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.daily_text {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4px 12px;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.html-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.css-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.javascript-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.html-text {
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.css-text {
  width: 21px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.java-text {
  width: 65px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.btn-container {
  width: 295px;
  height: 92px;
}

.see-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  border: 2px solid #6070ff;
  border-radius: 8px;
  margin-top: 5px;
}

.see-btn:enabled {
  background: #fff;
  color: #6070ff;
}

.see-btn:hover {
  background: #6070ff;
  color: #fff;
}

.see-btn:active {
  background: #2230d2;
  color: #fff;
}

.see-btn:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.text_project {
  width: 100px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.about-section {
  width: 375px;
  height: 1263px;
  margin-top: 114px;
  background: #fff;
}

.about1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 409px;
  margin: 0 0 0 24px;
}

.About_text {
  width: 214px;
  height: 101px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 0 0 0 24px;
}

.software_text {
  width: 327px;
  height: 144px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

.connect-text2 {
  margin-left: -24px;
  margin-top: -31px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  gap: 15px;
  margin-left: 15px;
}

.resume_but {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 172px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.resume-text {
  width: 278px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.resume_but:enabled {
  background: #fff;
  color: #6070ff;
}

.resume_but:hover {
  background: #6070ff;
  color: #fff;
}

.resume_but:active {
  background: #2230d2;
  color: #fff;
}

.resume_but:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.about2 {
  margin: 86px 0 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
}

.lang-con {
  width: 327px;
  height: 72px;
  margin: 0 0 0 24px;
}

.lang-text {
  height: 24px;
  top: calc(50% - 24px / 2);

  /* Body / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500 bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.union3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 30px;
  height: 30px;
  margin: 0 0 0 172px;
  border-radius: 8px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
}

.lang1 {
  width: 303px;
  height: 66.72px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;
}

.lang-pix {
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  border: 1px solid #fff;
  margin: 9px 0 0 12px;
}

.lang-prog {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500px bolder;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  margin: -38px 0 0 76px;
}

.line1 {
  width: 327px;
  height: 72px;
}

.union-arrow {
  margin: 0 0 0 172px;
  border: none;
}

.union-arrow2 {
  margin: 0 0 0 250px;
  border: none;
}

.seperate-btn {
  height: 1px;
  width: 100%;
  background: #dfe1e6;
}

.line-text {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500px bolder;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: #000;
}

.contact_section {
  background-image: url("image_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 375px;
  height: 779px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 100px;
  margin: -160px 0 0 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.contact-head {
  margin-top: 102px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact_text {
  position: absolute;
  width: 327px;
  height: 102px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 171px;
  margin-left: 24px;
}

form {
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  border: none;
  height: 70px;
  width: 327px;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 24px;
}

form input {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  outline: none;
  margin-left: 24px;
}

.input_name {
  width: 327px;
  height: 48px;
  color: #172b4d;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: -12px;
}

.input_mail {
  width: 327px;
  height: 48px;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: -12px;
}

::placeholder {
  color: #172b4d;
  font-size: 17px;
  padding: 15px 16px;
}

textarea::placeholder {
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.message_box {
  width: 327px;
  height: 170px;
  margin-top: 18px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: -12px;
}

.touch_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  margin-top: 22px;
  width: 142px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 8px;
}

.touch_btn:enabled {
  background: #fff;
  color: #6070ff;
}

.touch_btn:hover {
  background: #6070ff;
  color: #fff;
}

.touch_btn:active {
  background: #2230d2;
  color: #fff;
}

.touch_btn:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.touch_text {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #dfe1e6;
}

.shape_img {
  position: absolute;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin: 765px 0 0 133px;
}

.works {
  display: none;
}

@media (min-width: 768px) {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  a {
    list-style-type: none;
    text-decoration: none;
  }

  li {
    list-style-type: none;
    text-decoration: none;
  }

  .tool_bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 14px 24px;
    align-items: center;
  }

  .logo-text {
    width: 115px;
    height: 20px;
    margin: 25px 0 0 155px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    animation: bounce 3s infinite ease-in-out;
  }

  @keyframes bounce {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(20vw);
    }
  }

  .desk_nav {
    display: block;
    display: flex;
    gap: 32px;
    margin: 25px 154px 0 0;
  }

  .desk_nav li a {
    width: 63px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .headline-sec {
    background-image: url("desktop_background.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 180px;
    width: 100%;
    height: 916px;
    border-bottom-left-radius: 60%;
  }

  .headline_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    position: absolute;
    width: 920px;
    height: 268px;
    margin: 150px 260px 289px 260px;
  }

  .greetings {
    width: 920px;
    height: 122px;

    /* margin: 105px 260px 405px 260px; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .text2 {
    width: 920px;
    height: 98px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .works {
    width: 100%;
    padding: 142px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
  }

  .main {
    display: flex;
    width: 1156px;
    height: 496px;
    justify-content: center;
    margin-bottom: 142px;
    background: #fff;
    border: 2px solid #a7aeff;
    border-radius: 24px;
  }

  .main2 {
    display: flex;
    flex-direction: row-reverse;
    height: 496px;
    justify-content: center;
  }

  .cont1 img {
    width: 544px;
    height: 448px;
    left: 24px;
    top: 24px;
  }

  .cont2 {
    margin-left: 46px;
    margin-top: 24px;
  }

  .cont1 {
    margin-top: 24px;
  }

  .cont3 {
    margin-right: 46px;
  }

  .cont2 h2 {
    width: 496px;
    height: 46px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 20px;
  }

  .cont2 ul {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .cont2 ul .show {
    list-style-type: none;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    margin-right: 32px;
  }

  .cont2 ul .show2 {
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    margin-right: 32px;
    list-style-type: square;
  }

  .cont2 ul .show3 {
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    margin-right: 32px;
    list-style-type: square;
  }

  .cont2 p {
    width: 496px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 28px;
  }

  .lang-desk {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    border-radius: 8px;
  }

  .cont2 .lang2 li {
    list-style-type: none;
    margin-right: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6070ff;
    background: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    margin-bottom: 52px;
  }

  .cont2 button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #396df2;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 10px;
    padding: 8px;
  }

  button .btn {
    background: #4053fc;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .see_btn:enabled {
    background: #fff;
    color: #6070ff;
  }

  .see_btn:hover {
    background: #6070ff;
    color: #fff;
  }

  .see_btn:active {
    background: #2230d2;
    color: #fff;
  }

  .see_btn:disabled {
    background: #e5e5e5;
    color: #5e6c84;
  }

  .about-section {
    width: 100%;
    height: 924px;
    padding: 142px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

  .about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: -365px 220px 0 320px;
  }

  .about-myself {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 447px;
    height: 239px;
  }

  .about1 {
    /* margin-right: 36px; */
    margin: 0 600px 0 0;
  }

  .about1 h2 {
    width: 447px;
    height: 33px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .about1 p {
    width: 447px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .social {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
  }

  .social li a {
    text-decoration: none;
    margin-right: 21px;
    list-style-type: none;
  }

  .about1 button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    border: 1px solid #dfe1e6;
    border-radius: 10px;
    padding: 12px;
    background: #fff;
    margin-top: 61px;
  }

  .about2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 684px;
    height: 360px;
    margin: -20px 134px 0 -440px;
  }

  .lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 684px;
    height: 216px;
  }

  .long-con {
    width: 684px;
    height: 72px;
    margin-left: 250px;
  }

  .lang-text {
    height: 24px;
    width: 582px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .union3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 28px;
    height: 25px;
    margin-left: 552px;
    border-radius: 8px;
  }

  .lang-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 6px;
    width: 313px;
    height: 144px;
  }

  .about2 p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    color: #344563;
    width: 582px;
    margin-bottom: 30px;
  }

  .about2 p i {
    font-size: 10px;
  }

  .lang1 {
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-right: 12px;
    padding: 12px;
    margin-left: 50px;
  }

  .lang1 p {
    width: 98px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500px bolder;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin: 15px 292px 32px 22px;
  }

  .lang-pix {
    width: 48px;
    height: 48px;
  }

  .line1 {
    width: 684px;
    height: 72px;
    margin-top: 37px;
  }

  .line-text {
    width: 582px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500px bolder;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    margin-left: 70px;
  }

  .union-arrow {
    width: 6px;
    height: 12px;
  }

  .seperate-btn {
    width: 684px;
    height: 1px;
  }

  .contact_section {
    background-image: url("contact\ form-\ background-shape-desktop\ \(1\).png");
    padding: 142px 40px;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    margin-top: -250px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 801px;
    height: 56px;
    margin-top: -718px;
  }

  .contact-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 801px;
    height: 56px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #ffff;
  }

  .contact_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 549px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  form {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    height: 395px;
    width: 447px;
    gap: 27px;
  }

  form input {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
    outline: none;
  }

  .input_name {
    width: 447px;
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    color: #172b4d;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .input_mail {
    width: 447px;
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    color: #172b4d;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  ::placeholder {
    color: #172b4d;
    font-size: 17px;
    padding: 15px 16px;
  }

  textarea::placeholder {
    color: #b3bac5;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .message_box {
    width: 447px;
    height: 170px;
    margin-top: 18px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .touch_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    width: 142px;
    height: 48px;
    background: #fff;
    border-radius: 8px;
  }

  .touch_btn:enabled {
    background: #fff;
    color: #6070ff;
  }

  .touch_btn:hover {
    background: #6070ff;
    color: #fff;
  }

  .touch_btn:active {
    background: #2230d2;
    color: #fff;
  }

  .touch_btn:disabled {
    background: #e5e5e5;
    color: #5e6c84;
  }

  .touch_text {
    width: 110px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .mobile-cards {
    display: none;
  }

  .union {
    display: none;
  }

  .shape_img {
    display: none;
  }
}
