@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}

a {
  list-style-type: none;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.tool_bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 14px 24px;
  align-items: center;
}

.Logo {
  width: 150px;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.headline-sec {
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  padding-top: 180px;
  background-position-y: 100px;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

.greetings {
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.text2 {
  width: 327px;
  height: 146px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  width: 130px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.media-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: -20px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
}

.work-section {
  margin-top: 130px;
}

.cards_container {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  position: absolute;
  width: 375px;
  height: 2700px;
  left: 0;
  top: 718px;
}

.card_work,
.card_work2 {
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 4%;
}

.card_work {
  height: 700px;
}

.card_work2 {
  height: 750px;
}

.snapshot {
  margin: 16px 16px;
  width: 295px;
  height: 220px;
  padding-bottom: 0;
}

.left_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
  margin-top: -30px;
}

.tonic-text {
  width: 295px;
  height: 806px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 30px;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.count {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
}

.role {
  width: 88px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.daily_text {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4px 12px;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.html_but {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.html_text {
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.css_but {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.css_text {
  width: 21px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.java_but {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.java_text {
  width: 65px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.but_container {
  padding-bottom: 100px;
  width: 295px;
  height: 72px;
}

.Action_but {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 48px;
  left: 0;
  border: 2px solid #6070ff;
  border-radius: 8px;
  margin-top: 5px;
}

.text_project {
  width: 100px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.About_section {
  position: absolute;
  width: 375px;
  height: 1263px;
  left: 40px;
  top: 4500px;
}

.About_text {
  width: 327px;
  height: 101px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.software_text {
  width: 327px;
  height: 144px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

.resume_but {
  padding-bottom: 100px;
  width: 295px;
  height: 72px;
}

.Action_but2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
  width: 140px;
  height: 50px;
  left: 0;
  border: 2px solid #6070ff;
  border-radius: 8px;
  margin-top: -10px;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

.lang_container {
  white-space: nowrap;
  margin-top: 15px;
}

.lang {
  display: inline-block;
}

.union3 {
  display: inline-block;
  margin-left: 40%;
}

.skills {
  display: inline-block;
  margin-left: 58%;
}

.java_board {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.java_img {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 12px;
  margin-top: 9px;
}

.script_text {
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
  margin-left: 76px;
}

.frame_work {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.Union_arrow {
  position: absolute;
  border: 2px solid #acb7c3;
}

.saperator {
  position: absolute;
  height: 2px;
  width: 327px;
  background: #dfe1e6;
}

.contact_section {
  background-image: url("images/Contact\ me.png");
  position: absolute;
  width: 375px;
  height: 779px;
  left: 0px;
  top: 5410px;
  background: #6070FF;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 338px;
  border-top-left-radius: 100px;
}
